.bgc-silde2 {
  background: rgba(218, 214, 214, 1);
}
.red {
  color: red;
}
.white {
  color: white;
}
.black {
  color: black;
}
.height200 {
  height: 200px;
}
.font20 {
  font-size: 20px;
}
.font30 {
  font-size: 30px;
}
.ml5percentage {
  margin-left: 5%;
}
.mt5percentage {
  margin-top: 5%;
}
